html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: violet;
    padding: 10px 20px 0;
}
.header {
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    min-height: 150px;
    background-color: violet;
}

.contato {
    margin: 10px 10px;
}

table caption {
    background-color: #e0e0e0;
}

table tbody tr:nth-child(odd) td {
    background-color: #f1f1f1;
}

table tbody tr:hover td {
    background-color: #e0e0e0;
    cursor: pointer;
}

table thead tr th:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

fieldset {
    border-color: #f1f1f1;
    border-radius: 5px;
    margin: 10px 10px;
}

